<!-- Primary Meta Tags -->
<title>Giro2020</title>
<meta name="title" content="Giro 2020">
<meta name="description" content="Uma iniciativa da sociedade civil para fortalecer a democracia, antes, durante e depois das eleições na Região Metropolitana do Rio de Janeiro.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://giro2020.org/">
<meta property="og:title" content="Giro 2020">
<meta property="og:description" content="Uma iniciativa da sociedade civil para fortalecer a democracia, antes, durante e depois das eleições na Região Metropolitana do Rio de Janeiro.">
<meta property="og:image" content="https://giro2020.org/images/og-img.png">

<!-- Twitter -->
<meta property="twitter:card" content="Giro2020">
<meta property="twitter:url" content="https://giro2020.org/">
<meta property="twitter:title" content="Giro 2020">
<meta property="twitter:description" content="Uma iniciativa da sociedade civil para fortalecer a democracia, antes, durante e depois das eleições na Região Metropolitana do Rio de Janeiro.">
<meta property="twitter:image" content="https://giro2020.org/images/og-img.png">

<link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-175563485-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-175563485-1');
</script>

<script src="https://my.hellobar.com/69f5f17c5e0f033a187aca9b36216ac420fdf3ca.js" type="text/javascript" charset="utf-8" async="async"></script>
