<div class="mini-footer hide-for-small-only" style="padding:3rem 0">
  <div class="row">
    <div class="medium-1 large-4 column">
      <p>Realização</p>
      <a href="https://ciudadaniai.org/"><%= image_tag("https://giro2020.org/images/logo-fci.svg", alt: "Cidadaniai Inteligente Logo", style: "width: 44%" ) %></a>
      <a href="https://casafluminense.org.br/"><%= image_tag("https://giro2020.org/images/logo-casa.png", alt: "Casa Fluminense Logo", style: "width: 28%; margin: 0 3em 0 3em" ) %></a>
    </div>
    <div class="medium-1 large-2 column">
      <p>Apoio</p>
      <img src="https://giro2020.org/images/logo-undef.png" style="width: 84%; padding: 0.7em 0">
    </div>
    <div class="medium-1 large-6 column">
      <div class="alabs-logo">
        <p>Con el soporte de</p>
        <a rel="alabs"
           href="https://alabs.org/"
           target="_blank" rel="noopener">
        <%= image_tag("https://www.alabs.org/assets/images/logo-invert.svg", alt: "aLabs Logo" ) %>
        </a>
        <a rel="decidim"
           href="https://decidim.org/"
           target="_blank" rel="noopener">
          <%= image_tag("decidim/decidim-logo.svg", alt: "Decidim Logo", style: "width: 22%; margin: 0 2em 0 2em" ) %>
        </a>
        <a rel="license" class="cc-badge"
           href="http://creativecommons.org/licenses/by-sa/4.0/"
           target="_blank" rel="noopener">
           <%= image_tag("decidim/cc-badge.png", alt: "Creative Commons License" ) %>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="mini-footer hide-for-medium" style="padding:3rem 0">
  <div class="row">
    <div class="medium-1 large-4 column" style="margin-bottom: 3em">
      <p>Realização</p>
      <a href="https://ciudadaniai.org/"><%= image_tag("https://giro2020.org/images/logo-fci.svg", alt: "Cidadaniai Inteligente Logo", style: "width: 32%" ) %></a>
      <a href="https://casafluminense.org.br/"><%= image_tag("https://giro2020.org/images/logo-casa.png", alt: "Cidadaniai Inteligente Logo", style: "width: 21%; margin: 0 3em 0 3em" ) %></a>
    </div>
    <div class="medium-1 large-2 column" style="margin-bottom: 3em">
      <p>Apoio</p>
      <img src="https://giro2020.org/images/logo-undef.png" style="width: 37%; padding: 0.7em 0">
    </div>
    <div class="medium-1 large-6 column" style="margin-bottom: 3em">
      <div class="alabs-logo">
        <p>Con el soporte de</p>
        <a rel="alabs"
           href="https://alabs.org/"
           target="_blank" rel="noopener">
        <%= image_tag("https://www.alabs.org/assets/images/logo-invert.svg", alt: "aLabs Logo", style: "width: 27%" ) %>
        </a>
        <a rel="decidim"
           href="https://decidim.org/"
           target="_blank" rel="noopener">
          <%= image_tag("decidim/decidim-logo.svg", alt: "Decidim Logo", style: "width: 22%; margin: 0 2em 0 2em" ) %>
        </a>
        <a rel="license" class="cc-badge"
           href="http://creativecommons.org/licenses/by-sa/4.0/"
           target="_blank" rel="noopener">
           <%= image_tag("decidim/cc-badge.png", alt: "Creative Commons License", style: "width: 20%" ) %>
        </a>
      </div>
    </div>
  </div>
</div>
