$base-font: 'Poppins', sans-serif;
$special-font: 'Arvo', serif;

$black: #272727;

// // Variables
//
$primary: #31b7bc;
// $primary-rgb: 239,96,77;
$secondary: #31b7bc;
// $secondary-rgb: 89,154,166;
// $success: #57d685;
// $success-rgb: 87,214,133;
// $warning: #ffae00;
// $warning-rgb: 255,174,0;
// $alert: #ec5840;
// $alert-rgb: 236,88,64;
//
// $proposals: #238ff7;
// $actions: #57d685;
// $debates: #fa6c96;
// $meetings: #fabc6c;
//
// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #dd4b39;
//
// // background colors used in public diff views
// $color-addition: #e6ffed;
// $color-removal: #ffeef0;
//
// // Define custom properties as css color variables
//
// :root{
//   --primary: #{$primary};
//   --primary-rgb: #{$primary-rgb};
//   --secondary: #{$secondary};
//   --secondary-rgb: #{$secondary-rgb};
//   --success: #{$success};
//   --success-rgb: #{$success-rgb};
//   --warning: #{$warning};
//   --warning-rgb: #{$warning-rgb};
//   --alert: #{$alert};
//   --alert-rgb: #{$alert-rgb};
//   --proposals: #{$proposals};
//   --actions: #{$actions};
//   --debates: #{$debates};
//   --meetings: #{$meetings};
//   --twitter: #{$twitter};
//   --facebook: #{$facebook};
//   --google: #{$google};
// }

@import "decidim/application";

//Basics
body{
    font-family: $base-font;
    color: $black;
    line-height: 1.3;
    font-weight: 400;
}
h1, h2{
    font-family: $special-font;
    text-transform: uppercase;
}
h3, h4, h5, h6 {
    font-family: $base-font;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}
a:hover{
    color: $primary;
}
.bg-blue{
    background-color: $primary;
    color: white !important;
}
.text-highlight{
    text-shadow: none;
    font-weight: 700;
}
//Menus
.dropdown.menu > li.is-dropdown-submenu-parent > a {
    color: $black;
}
.title-bar {
    background: white;
    color: $black;
    a{
        color: $black;
    }
}
.menu.expanded {
    background-color: $black;
    padding: 1rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
}
.menu.expanded{
    a{
        color: white;
        font-weight: 700;
    }
}
.menu.expanded{
    a:hover:after{
         content: '';
         background-image:"";
    }
}
.navbar {
    background: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 0.9em;
}
.main-nav__link a {
    padding: 1.5em 2em;
}
.topbar {
    padding: 0.3em;
}
.title-bar {
    height: 5em;
}
.title-bar a:hover {
    color: $primary;
}
.process-nav__link {
    font-size: 0.9em;
    padding: 0.4em 0.2em 0.1em;
}
.topbar__search input, .topbar__search input:focus {
    background: #fafafa;
}
//Hero
.hero {
    padding: 6rem 0;
}
.hero-heading {
    font-size: 2.5rem;
}
.no-subhero{
    padding: 4rem 0;
}
.hero::after {
    background-color: transparent;
}
//Button
.button.hollow.hollow-white {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
.button.hollow.hollow-white:hover {
    background-color: white;
    border: 2px solid white;
    color: $primary;
}
//Display none
.processes-grid-order-by {
    display: none;
}
div#participatory-space-filters {
    display: none;
}
.card__status {
    display: none;
}
.card__footer, .card__top {
    background: white;
}
.section-heading{
    display: none;
}
.floating-helper__content {
    display: none;
}
.floating-helper__content-close{
    display: none;
}
.floating-helper__text{
    display: none;
}
.floating-helper__icon{
    display: none;
}
.tech-info{
    display: none;
}
button.share-link.link.text-center {
    display: none;
}

//Header process
.process-header__inner {
    height: 300px;
}
.process-header__main {
    clip-path: none;
}

// Author
.author-data{
  display: none;
}

@media print, screen and (max-width: 40em){
.subhero{
    padding: 0;
}
.no-subhero{
    padding: 0;
}
}
